    /*
    * -------------------------------------------------
    * Juno config
    * -------------------------------------------------
    * Pipeline parameters specific to running Tempo with LSF on the Juno cluster at MSKCC
    * -------------------------------------------------
    */

    executor {
        name = "lsf"
    }

    process {

        memory = "8.GB"
        time = { task.attempt < 3 ? 3.h * task.attempt  : 500.h }
        clusterOptions = ""
        maxRetries = 3
        errorStrategy = { task.attempt <= process.maxRetries ? 'retry' : 'ignore' }
        // errorStrategy = 'terminate'
    }
