	/*
	* -------------------------------------------------
	* Juno config
	* -------------------------------------------------
	* Pipeline parameters specific to running Tempo with LSF on the Juno cluster at MSKCC
	* -------------------------------------------------
	*/

	executor {
		name = "lsf"
	}

	process {
		clusterOptions = ""
		scratch=false
	}
