/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: VARDICTJAVA  {
        ext.args = '-c 1 -S 2 -E 3 -g 4'
        ext.args2 = '-f .0002 -r 1 -A'
    }

    withName: MUTECT {
        ext.args = '--downsample_to_coverage 50000 --downsampling_type NONE --enable_extended_output --fraction_contamination 0.0005'
        ext.args2 = '--minimum_mutation_cell_fraction 0.0005 --read_filter BadCigar'
    }

    withName: VARDICT_FILTER  {
        ext.args = '--alleledepth 1'
        ext.vfargs2 = '--minqual 0 --totaldepth 20 --tnRatio 1 --variantfraction 5e-05'
    }



    
    // just pass the empty string for testing purposes 
    //--read_buffer_size null --phone_home STANDARD --read_filter null --intervals null --downsampling_type NONE --baq CALCULATE_AS_NECESSARY --baqGapOpenPenalty 30
    // --num_threads 1 --num_cpu_threads_per_data_thread 1
    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    
    //-g $params.gene_name_col -r $params.min_num_variant_reads -f $params.allele_freq_thres

}
