/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run msk/nucleovar -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Stub test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input = 'https://raw.githubusercontent.com/mskcc-omics-workflows/nucleovar/nucleovar_v2_fixes/tests/resources/stub/stub_pipeline_input.tsv'
    rules_json = "https://raw.githubusercontent.com/mskcc-omics-workflows/nucleovar/feature/call_variants/tests/resources/stub/stub_rules.json"
    aux_bams = 'https://raw.githubusercontent.com/mskcc-omics-workflows/nucleovar/nucleovar_v2_fixes/tests/resources/stub/stub_aux_bams.tsv'
    fasta = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/genome/genome.fasta"
    fai = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/genome/genome.fasta.fai"
    canonical_bed = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/genome/bed/test.bed"
    target_bed = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/genome/bed/test.bed"
    dict = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/genome/genome.dict"
    sample_order_file = "https://raw.githubusercontent.com/mskcc-omics-workflows/nucleovar/feature/call_variants/tests/resources/stub/stub_sample_order.txt"
    header_file = "https://raw.githubusercontent.com/mskcc-omics-workflows/nucleovar/feature/call_variants/tests/resources/stub/stub_mutect_annotate_concat_header.txt"
    blocklist = "https://raw.githubusercontent.com/mskcc-omics-workflows/nucleovar/feature/call_variants/tests/resources/stub/stub_blocklist.txt"
    canonical_tx_ref = "https://raw.githubusercontent.com/mskcc-omics-workflows/nucleovar/feature/call_variants/tests/resources/stub/stub_canonical_target_tx_ref.tsv"
    hotspots = "https://raw.githubusercontent.com/mskcc-omics-workflows/nucleovar/nucleovar_v2_fixes/tests/resources/stub/stub_hotspots.maf"
    annotator = 'genomenexus'
}
