/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run msk/nucleovar -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input = "https://github.com/nf-core/test-datasets/raw/smrnaseq/samplesheet/v2.0/samplesheet.csv"
    rules_json = "https://github.com/mskcc-omics-workflows/test-datasets/neoantigen/neoantigen/test4_mutass/0.json"
    aux_bams = "https://github.com/nf-core/test-datasets/raw/smrnaseq/samplesheet/v2.0/samplesheet.csv"
    fasta = "https://github.com/mskcc-omics-workflows/mskcc-omics-workflows/test-datasets/chr22/chr22/chr22.fasta"
    fai = "https://github.com/mskcc-omics-workflows/mskcc-omics-workflows/test-datasets/chr22/chr22/chr22.fasta.fai"
    canonical_bed = "https://github.com/nf-core/test-datasets/modules/data/genomics/sarscov2/genome/bed/test.bed"
    target_bed = "https://github.com/nf-core/test-datasets/modules/data/genomics/sarscov2/genome/bed/test2.bed"
    dict = "https://github.com/nf-core/test-datasets/modules/data/genomics/sarscov2/genome/genome.dict"
}
